.App {
  padding: 20px;
}

.list {
  width: 250px;
  border: solid 1px lightgray;
  padding: 5px 10px;
  border-radius: 5px;
}

form input,
form textarea {
  width: 100%;
  border: solid 2px lightgray;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}
form button[type="submit"] {
  color: white;
  border: solid 1px green;
  cursor: pointer;
  padding: 5px 10px;
  background: green;
  border-radius: 4px;
}
