.App {
  padding: 20px;
}

.board {
  display: flex;
  align-items: flex-start;
}

.list {
  width: 250px;
  margin: 10px;
  /* border: solid 1px lightgray; */
  /* padding: 20px 10px; */
  border-radius: 5px;
  position: relative;
  background: #dfe3e6;
}
.list--name {
  padding: 10px;
}
.list--delete {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
}

.card--add {
  padding: 10px;
  margin: 0;
}
.card--add:hover {
  background: #c3ccd1;
  /* text-decoration: underline; */
}
.card--add:hover > span {
  text-decoration: underline;
}
form {
  padding: 10px;
}
form input,
form textarea {
  width: 100%;
  border: none;
  /* border: solid 2px lightgray; */
  padding: 8px 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}
form button[type="submit"] {
  color: white;
  border: solid 1px green;
  cursor: pointer;
  padding: 5px 10px;
  background: green;
  border-radius: 4px;
}

form .cancel-btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: none;
  margin-left: 8px;
}
